html {
  scroll-behavior: smooth;
}

.btn{
    text-decoration: none;
    color: #fff; 
    background-color: rgb(57, 57, 57);
    border-radius: 0.5vw;
    border-width: 1vw;
    padding: 2vw;   
}

.sidenav{
  padding: 1vw 2vw;
  width: 0;
  transition-delay: 0.3s;
  transition: 0.5s ease-in-out;
}

.active .sidenav {
  transition: 0.5s ease-in-out;
  height: 100vh;
  width: 12vw;
  position: fixed;
  padding: 1vw 0;
}

.items {
  padding: 2vw 0;
  display: none;
}

.active .items{
    display: block;
}

.items ul {
  list-style: none;
}

.items ul li {
  background: rgba(0, 0, 0, 0.6);
  margin: 1vw 0;
  height: 4vh;
  transition: 0.5s ease-in;
  width: 30vh;
  border: 0.1vw solid rgba(255, 255, 255, 0.5);
  border-right: 0.1vw solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1vw solid rgba(223, 14, 14, 0.2);
  border-radius: 0.5vw;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.05);
}

.items li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 200;
  padding: 0 1vw;
  letter-spacing: 0.2vw;
}

#info_head,
#stream_head,
#blog_head {
  text-align: center;
}

#main_head {
  font-weight: normal;
}
