
h1 {
    color: white;
    font-size: 100px;
}

h2 {
    color: white;
}

.bildruta {
    width:auto;
    height:600px;
    margin:10%;
    margin-top:500px;
}
.videoruta {
    width:auto;
    height:600px;
    
}

.videoruta iframe {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#menu {
    color: white;
    font-size: 10px;
    float: top;
    float: right;
}

#farg1 {
    background-color: rgb(219, 255, 146);
}

#farg2 {
    background-color: rgb(98, 176, 255);
}

#content {
    background-color: black;
    width:auto;
    height:auto;
    text-align:center;
    padding:12%;
}

